@model Tranning.Models.TopicDetail

@{
    ViewData["Title"] = "Update Topic";
    Layout = "~/Views/Shared/_TrainingStaffLayout.cshtml";
}

<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Update Topic</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Update" method="post" asp-validation-summary="All">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="name">Name</label>
                                <input asp-for="name" class="form-control" />
                                <span class="text-danger" asp-validation-for="name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="course_id">Course</label>
                                <select asp-for="course_id" class="form-control" asp-items="@(new SelectList(ViewBag.Stores, "Value", "Text"))">
                                </select>
                                <span class="text-danger" asp-validation-for="course_id"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="description">Description</label>
                                <textarea asp-for="description" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="status" class="control-label"></label>
                                <select class="form-control" asp-for="status">
                                    <option value="Active">Active</option>
                                    <option value="Deactive">Deactive</option>
                                </select>
                                <span asp-validation-for="status" class="text-danger"></span>
                            </div>
                           <div class="form-group">
                                <label asp-for="file" class="control-label">Attach File</label>
                                <input type="file" class="form-control" asp-for="file" />
                                <span class="text-info">Current File: @Model.attach_file</span>
                            </div>

                            <div class="form-group">
                                <label asp-for="document_file" class="control-label">Document File</label>
                                <input type="file" class="form-control" asp-for="document_file" />
                                <span class="text-info">Current File: @Model.documents</span>
                            </div>
                            <div class="form-group">
                                <label asp-for="photo" class="control-label">Video</label>
                                <input type="file" class="form-control" asp-for="photo" />
                            </div>
                            <div class="form-group">
                                <video class="img-fluid" controls><source type="video/mp4" src="/uploads/videos/@Model.videos"></video>
                            </div>
                        </div>
                        <div class="row">
                            <div class="sm-12 col-md-6">
                                <button class="btn btn-primary my-3" type="submit">Save</button>
                                <a class="btn btn-info ms-3 mb-0" href="@Url.Action("Index","Topic")">Back to lists</a>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>